<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.green.ca2sa.user.UserMapper">
    <insert id="postUserSignUp">
        INSERT INTO user
        SET  email=#{email}
            ,upw=#{upw}
            ,nickName=#{nickName}
    </insert>

    <select id="getUserEmailCheck">
        SELECT email
        FROM user
        WHERE email=#{email}
    </select>

    <select id="postUserSingIn">
        SELECT email,upw,userId,nickName
        FROM user
        WHERE email=#{email}
    </select>


    <select id="updateCheckUpwInfo">
        SELECT upw
        FROM user
        WHERE userId=#{userId}
    </select>
    
    <update id="updateUserInfo">
        UPDATE user
        SET nickName=#{nickName}
        WHERE userId=#{userId}
    </update>

    <delete id="deleteUserInfo">
        DELETE
        FROM user
        WHERE userId=#{userId}
    </delete>

    <select id="deleteUpwCheck">
        SELECT upw
        FROM user
        WHERE userId=#{userId}
    </select>

    <select id="selUserSpent">
        SELECT
        IFNULL(SUM(a.count * (b.price + d.addprice)), 0) AS totalUsedAmount
        FROM order_menu a
        LEFT JOIN menu b
        ON a.menuId = b.menuId
        LEFT JOIN order_menu_option c
        ON a.orderMenuId = c.orderMenuId
        LEFT JOIN menu_option d
        ON c.menuOptionId = d.menuOptionId
        LEFT JOIN `order` e
        ON e.orderId = a.orderId
        WHERE e.createdAt BETWEEN #{firstDayOfMonth} AND '${today} 23:59:59'
        AND e.userId = #{userId}
        AND e.orderProgress = 3
    </select>



</mapper>