<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.green.ca2sa.user.UserMapper">
    <insert id="postUserSignUp">
        INSERT INTO user
        SET  email=#{email}
            ,upw=#{upw}
            ,nickName=#{nickName}
    </insert>

    <select id="getUserEmailCheck">
        SELECT email
        FROM user
        WHERE email=#{email}
    </select>

    <select id="postUserSingIn">
        SELECT email,upw,userId,nickName
        FROM user
        WHERE email=#{email}
    </select>


    <select id="updateCheckUpwInfo">
        SELECT upw
        FROM user
        WHERE userId=#{userId}
    </select>
    
    <update id="updateUserInfo">
        UPDATE user
        SET nickName=#{nickName}
        WHERE userId=#{userId}
    </update>

    <delete id="deleteUserInfo">
        DELETE
        FROM user
        WHERE userId=#{userId}
    </delete>

    <select id="deleteUpwCheck">
        SELECT upw
        FROM user
        WHERE userId=#{userId}
    </select>



</mapper>