<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.ca2sa.order.OrderMapper">

    <insert id="insOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into `order`
        (
        userId,
        cafeId,
        pickUpTime,
        memo
        )
        values
        (
        #{userId},
        #{cafeId},
        #{pickUpTime},
        #{memo}
        )
    </insert>

    <resultMap id="OrderResultMap" type="com.green.ca2sa.order.model.OrderGetRes">
        <id property="orderId" column="orderId" />
        <result property="nickName" column="nickName" />
        <result property="cafeName" column="cafeName" />
        <result property="location" column="location" />
        <result property="pickUpTime" column="pickUpTime" />
        <result property="createdAt" column="createdAt" />
        <result property="memo" column="memo" />
        <result property="orderProgress" column="orderProgress" />
        <collection property="orderMenuList" resultMap="orderMenuResultMap" />
    </resultMap>

    <resultMap id="orderMenuResultMap" type="com.green.ca2sa.order.orderMenu.model.OrderMenuDto">
        <id property="orderMenuId" column="orderMenuId" />
        <result property="orderMenuName" column="menuName" />
        <result property="price" column="price" />
        <result property="count" column="count" />
        <collection property="options" resultMap="orderMenuOptionResultMap" />
    </resultMap>

    <resultMap id="orderMenuOptionResultMap" type="com.green.ca2sa.order.orderMenu.model.OrderMenuOptionDto">
        <id property="menuOptionId" column="menuOptionId"/>
        <result property="optionName" column="optionName"/>
        <result property="addPrice" column="addPrice"/>
    </resultMap>


    <select id="getOrderList" resultMap="OrderResultMap">
        SELECT T2.*
        FROM (
        SELECT orderId
        FROM `order`
        WHERE userId = #{signedUserId}
        <if test="cafeId != null and cafeId != ''" >
            and cafeId = #{cafeId}
        </if>
        ORDER BY orderId DESC
        LIMIT #{startIdx}, #{size}
        ) T1
        INNER JOIN(
        SELECT
        a.orderId AS orderId,
        b.nickName AS nickName,
        c.cafeName AS cafeName,
        c.location AS location,
        a.pickUpTime AS pickUpTime,
        a.createdAt AS createdAt,
        a.memo AS memo,
        a.orderProgress AS orderProgress,
        d.orderMenuId AS orderMenuId,
        e.menuName AS menuName,
        e.price AS price,
        d.count AS count,
        g.menuOptionId AS menuOptionId,
        g.optionName AS optionName,
        g.addPrice AS addPrice
        FROM `order` a
        INNER JOIN `user` b
        ON a.userId = b.userId
        INNER JOIN `cafe` c
        ON c.cafeId = a.cafeId
        LEFT JOIN `order_menu` d
        ON a.orderId = d.orderId
        INNER JOIN `menu` e
        ON d.menuId = e.menuId
        LEFT JOIN `order_menu_option` f
        ON d.orderMenuId = f.orderMenuId
        INNER JOIN `menu_option` g
        ON f.menuOptionId = g.menuOptionId
        ) T2
        ON T1.orderId = T2.orderId
        ORDER BY T2.orderId DESC
    </select>

    <!-- 주문 취소 요청 -->
    <update id="cancelOrder">
        update `order`
            set orderProgress = 5
            where orderId = #{orderId}
            and userId = #{signedUserId}
    </update>




</mapper>
